.jumbotron {
    text-align: center;
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    top: -10px;
    font-weight: 500;
    background: lightblue;
}